# Dependencies
node_modules/

# Build output
dist/

# Cache
.cache/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional lock file (tu peux le garder si tu veux)
package-lock.json